/**
 * Base
 * -----------------------------------------------------------------------------
 */
@import 'tailwindcss/base';

/**
 * Components
 * -----------------------------------------------------------------------------
 */
@import 'tailwindcss/components';

/**
 * Utilites
 * -----------------------------------------------------------------------------
 */
@import 'tailwindcss/utilities';

.bg-image-div {
  background-image: url("/assets/myimg.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom right;
}